.navlist {
  padding: 5%;
}
a.navlink:link {
  color: #E9967A;
  text-align: center;
  margin: 10px;
  font-size: 4.0vw;
  float: left;
  display: block;
  text-decoration: none;
}
a.navlink:hover {
  color: #E9967A;
  font-size: 4.25vw;
  cursor: crosshair;
  overflow: hidden;
}
#navholder {
  margin: 0;
  font-size: 25pt;
  position: sticky;
}
#navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #F0F8FF;
  padding: 5%;
  list-style-type: none;
  list-style: none;
}
#indexbody {
  background-color: #E6E6FA;
  font-family: Arial, Helvetica, Times, sans-serif;
  align-items: center;
  text-align: center;
}
#welcome {
  text-align: center;
  align-items: center;
  color: #FF69B4;
}
#home {
  width: 100%;
  height: 100%;
  display: block;
}
#leftimg {
  display: block;
  width: 75%;
  left: 0%;
  height: 100%;
  margin: 0%;
  bolder: 0%;
  position: absolute;
}
#rightimg {
  position: absolute;
  display: block;
  width: 25%;
  right: 0%;
  height: 100%;
}
#rightimg: :after {
  content: "";
  clear: both;
  display: table;
}
#leftimg: :after {
  content: "";
  clear: both;
  display: table;
}
.imgs2 {
  display: block;
  padding-bottom: 3%;
  padding-top: 3%;
}
.imgs1 {
  display: block;
  float: left;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
}
.img1 {
  display: block;
  float: left;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.img1: :after {
  content: "";
  clear: both;
  display: table;
}
#vid {
  padding-top: 3%;
  padding-bottom: 5%;
}
#resbody {
  background-color: #E6E6FA;
  font-family: Arial, Helvetica, Times, sans-serif;
  align-items: center;
  text-align: center;
}
#contactinfo {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 9%;
  font-weight: bold;
  display: grid;
}
#summary {
  text-align: center;
  font-variant: small-caps;
  padding-bottom: 3%;
}

#educerts {
  text-align: center;
  font-variant: small-caps;
  float: right;
  width: 50%;
}
#educerts: :after {
  content: "";
  clear: both;
  display: table;
}
.exp {
  text-align: center;
  font-variant: small-caps;
  padding-top: 2%;
  width: 100%;
  float: left;
}
#cakebody {
  font-family: Arial, Helvetica, Times, sans-serif;
  align-items: center;
  text-align: center;
  background-color: #E6E6FA;
}
#cakelogo {
  color: #CD5C5C;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3%;
}
#caketext {
  text-align: center;
  padding-top: 3%;
  margin-bottom: 10%;
  font-weight: normal;
  color: #F08080;
}
#cakeinsta {
  text-align: center;
  align-items: center;
  color: #F08080;
  padding-bottom: 5%;
}
#cakemenu {
  font-weight: bold;
  text-align: center;
  color: #e8b5c7;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 30pt;
}
#cakebanner{
  align-items: center;
  margin: auto;
}
.infocontain {
  width: 100%;
  padding: 5%;
}
.infocontain: :after {
  content: "";
  clear: both;
  display: table;
}
.skill {
  float: left;
  width: 50%;
}
.skill: :after {
  content: "";
  clear: both;
  display: table;
}
#mapbody {
  background-color: #E6E6FA;
  font-family: Arial, Helvetica, Times, sans-serif;
  align-items: center;
  text-align: center;
}
#googlemap {
  align-items: center;
  text-align: center;
  height: 700px;
  width: 80%;
  margin 0 auto;
}
#maptitle {
  text-align: center;
  align-items: center;
}
#map {
  text-align: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 80%;
}
media { 
 max-width:100%;
}

@media only screen and (min-width: 350px) {
  #contactinfo {
    margin: auto;
    font-weight: normal;
  }
  #welcome {
    font-weight: bold;
  }
  #home {
    font-family: "Times New Roman", Times, serif;
  }
}

@media only screen and (min-width: 700px) {
  #contactinfo {
    margin: auto;
    font-weight: normal;
  }
  #welcome {
    font-weight: bold;
  }
  #home {
    font-family: "Times New Roman", Times, serif;
  }
}

/*Slider Specific*/
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.slidecontain { 
  margin: 0 auto; 
  padding-bottom:20px;
 }
.slidecontain p {
   font-weight: bold;
   background: rgba(76, 175, 80, 0.1);
}
.slidepic img {
  border-radius: 0;
  width:auto;
  height:800px;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto 50px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
   margin: 0;
}
.bx-viewport {
  -webkit-transform: translatez(0);
}
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: none;
  background: background: rgba(76, 175, 80, 0.1);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../media/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../media/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../media/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../media/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../media/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial, Helvetica, Times;
  display: block;
  font-size: .85em;
  padding: 10px;
}
